<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            1
        </td>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            2
        </td>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            3
        </td>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            4
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            6
        </td>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            7
        </td>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            8
        </td>
        <td style="border: 1px solid #333333;padding: 10px;width: auto;height:auto ;text-align: center;background-color: #64909E">
            9
        </td>

    </tr>
    </tbody>
</table>